.wrapper {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    color: white;
  }
.wrapper::-webkit-scrollbar { 
    display: none;
}
 .formSection{
    height: 100vh;
    display: flex;
    padding-left: 5%;
    scroll-snap-align: start;
 }
.question{
    margin: auto auto;
}
.questionCol{
    float:left;
}
 .sectionLeft{
    width: 30%;
    text-align: center;
    margin-right:10%;
 }
 .sectionRight{
    width: 60%;
}

.formNav{
  border: 1px solid white;
  color: white;
  fill: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 5vw;
  padding: 17px 15px 17px 15px;
}
  .formSection a svg{
    margin-bottom: -5px;
}

  #resultReceipt {
    width: 30vw;
    min-height: 500px;
	  position: relative;
	  background: white;
    margin:20vh auto;
    color: black;
}
@media only screen and (max-width: 1000px) {
    #resultReceipt {
        width: 90vw;
    }
}
#staticResultText a{
    color: #00b09b;
}
#resultReceipt::before {
	content: '';
	position: absolute;
  bottom: -6vh;
	left: 0;
	right: 0;
	height: 110%;
	background-size: 24px 48px;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(60deg, transparent 34%, white 34%, white 66%, transparent 66%), -webkit-linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%);
	background-image: -moz-linear-gradient(45deg, transparent 34%, white 34%, white 66%, transparent 66%), -moz-linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%);
	background-image: linear-gradient(45deg, transparent 34%, white 34%, white 66%, transparent 66%), linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%);
}
#resultReceipt::after {
	content: '';
	position: absolute;
	bottom: -6vh;
	left: 0;
	right: 0;
	height: 10%;
	background-size: 24px 48px;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(60deg, transparent 34%, white 34%, white 66%, transparent 66%), -webkit-linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%);
	background-image: -moz-linear-gradient(45deg, transparent 34%, white 34%, white 66%, transparent 66%), -moz-linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%);
	background-image: linear-gradient(45deg, transparent 34%, white 34%, white 66%, transparent 66%), linear-gradient(315deg, transparent 34%, white 34%, white 66%, transparent 66%);
}
#generatedResultText{
  margin: auto;
  width: 80%;
  text-align: center;
}
 
  .title {
    margin-bottom: 15px;
    padding: 50px 30px 0px;
    font-weight: 500;
    font-size: 40px;
    color: #00b09b;
  }
  
  .subtitle {
    padding: 0 30px;
    font-weight: 300;
    font-size: 18px;
  }
  ul {
    list-style-type: none;
}
  .lines {
    margin-top: 50px;
    padding: 30px;
    border-top: 1px dashed #dce2d6;
  }
  
  .line {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    
    .item {
      font-weight: 300;
    }
    
    .price {
      font-weight: 400;
    }
  }
  
  .total {
    display: flex;
    margin: 0;
    padding: 30px;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    margin-bottom: 3vh;
    background-color: #eff7e8;
    
  .item,
    .price {
      font-weight: 400;
    }
  }
  
  .back {
    text-align: center;
  }
}




/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 0.2em;
  background-color: black;
}

#nav li,
a,
p
{
  font-size: 1.5rem;
  text-decoration: none;
}

h1 {
  font-size: 7rem;
  font-weight: 100;
  color: white;
}

h2 {
  font-size: 2.27rem;
  font-weight: 100;
  color: white;
}

h3 {
  font-size: 15rem;
  font-weight: 100;
  color: white;
}

h4 {
  font-size: 1.8rem;
  font-weight: 100;
  color: white;
}

ul {
  list-style: none;
}

/* Navigation */
nav {
  width: 100%;
  min-height: 10vh;
  background: rgba(255, 255, 255, 0.2);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}
.nav-links a {
  color:white;
}
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  color:white;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links .active {
  font-weight: 600;
}

/* Lading page */
.front {
  height: 100vh;
  background: url(/img/front.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.front .textbox {
  width: 80%;
  min-height: 40vh;
  margin: 15rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.front .left-side {
  text-align: center;
  margin: 0rem auto;
}

.front .left-side h1 {
  letter-spacing: 0.1em;
}

.front .left-side h2 {
  margin: 1rem;
  letter-spacing: 0.2em;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  max-width: 33.33%;
  border: 1px solid white;
  position: relative;
  text-align: center;
}

.box img {
  width: 100%;
  vertical-align: middle;
}

.box a {
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.box a:hover {
  font-weight: 600;
  letter-spacing: 0.2em;
}

/* Responsive for smaller screens */
@media screen and (max-width: 700px) {
  .box {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Impressum */
.impressum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.impressum .left-box h2 {
  margin-top: 15rem;
  font-size: 2rem;
  color: #81ffbe;
}

.impressum .left-box p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
}

.impressum .left-box img {
  width: 50%;
  margin: 5rem 25% 0rem 25%;
}

.impressum .right-box h2 {
  margin-top: 15rem;
  font-size: 2rem;
}

/* Subprojects */
.header {
  height: 0;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-box {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  max-width: 33.33%;
  background: black;
  z-index: -1;
}

.left-box img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 15rem 10% 0 10%;
}

.left-box h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}

.left-box p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.right-box {
  -webkit-box-flex: 66.66%;
      -ms-flex: 66.66%;
          flex: 66.66%;
  max-width: 66.66%;
  background: black;
  z-index: -1;
}

.right-box h2 {
  text-align: center;
  margin-top: 15rem;
  color: #81ffbe;
}

.right-box hr {
  height: 1px;
  border: none;
  background: white;
  width: 80%;
  margin: 5rem 10% 0 10%;
}

.right-box p {
  margin: 5rem 5rem 5rem 5rem;
  line-height: 2.5rem;
}

.right-box h4 {
  margin: 5rem 0rem 5rem 5rem;
  color: #81ffbe;
}

.right-box img {
  width: 90%;
  margin: 5rem 5rem 5rem 5rem;
}

.right-box iframe {
  width: 80%;
  margin: 0 10% 0 10%;
}

/* Responsive for smaller screens */
@media screen and (max-width: 600px) {
  .left-box {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .right-box {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */





/*Form Submit Button*/
#formSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.effect1 {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  padding: 10px 50px 10px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2); /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  background: #1ED760;
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 20px;
  color: #fff;
}

.effect1:hover .bg {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.effect1 .bg:before, .effect1 .bg:after {
  content: '';
  height: 2px;
  width: 10px;
  background:#1ED760;
  position: absolute;
  right: -2px;      
  -webkit-transition: all 0.3s;      
  -o-transition: all 0.3s;      
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect1 .bg:after{
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after{
  right: 0;
}

.effect1:hover .bg:before{
  bottom: 6px;
}

.effect1:hover .bg:after{
  top: 6px;
}